[package]
name = "bhttp"
version = "0.5.3"
authors = ["Martin Thomson <mt@lowentropy.net>"]
edition = "2021"
rust-version = "1.63.0"
license = "MIT OR Apache-2.0"
description = "Binary HTTP messages (RFC 9292)"
repository = "https://github.com/martinthomson/ohttp"

[features]
default = []
http = ["dep:url"]
stream = ["dep:futures", "dep:pin-project"]

[dependencies]
futures = {version = "0.3", optional = true}
pin-project = {version = "1.1", optional = true}
thiserror = "1"
url = {version = "2", optional = true}

[dev-dependencies]
hex = "0.4"

[dev-dependencies.sync-async]
path= "../sync-async"
